.auth-container{
    font-family: var(--primary-font);
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
}
.auth-wrapper{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    /* max-width: ; */
}
.auth-wrapper{
    width: 100%;
}
.auth-image-container{
    background-color: var(--primary-color);
    height: 100vh;
    width: 50vw;
}
.auth-image-sub-container{
    width: 700px;
    height: 500px;
}
.auth-wrapper h2{
    font-size: 32px;
    color: var(--primary-color);
}
.auth-form-container{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}
.auth-form-wrapper{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    
}
.auth-form-wrapper form{
    width:100% ;
    max-width: 450px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auth-form-wrapper form label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.auth-form-wrapper label span{
    font-size: 15px;
}
.auth-form-wrapper form input{
    width: 100%;
    margin:8px 0 ;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgray;
    text-indent: 10px;
}
.auth-form-wrapper form input::placeholder{
    color: lightgray;
}
.auth-form-wrapper form input:focus{
    border-color: var(--primary-color);
}
.auth-form-wrapper .form-button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.form-button button{
    width:70% ;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.form-text{
    text-align: center;
    margin-top: 20px;
}
.form-text span{
    color: var(--primary-color);
    cursor: pointer;
}
.terms{
    color: var(--primary-color);
    cursor: pointer;
}
.signup-form-two .check-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.signup-form-two .check-input input{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

/* media Query */
@media screen and (max-width:900px) {
    .auth-wrapper{
        display: flex;
        justify-content: center ;
    }
    .auth-image-container{
        display: none;
    }
    .auth-form-wrapper{
        display: flex;
        position: absolute;
        top: 20px;
    }
}
@media screen and (max-width:500px) {
    .auth-container h2{
        text-align: center;
    }
    .auth-form-wrapper{
        padding: 10px;
    }
}