.plan-page-container, .plan-page-wrapper{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}
.plan-page-container{
    font-family: var(--primary-font);
    padding:20px;
}
.plan-page-wrapper{
    margin-top: 20px;
    flex-direction: column;
}
.plan-page-text{
    text-align: center;
}
.plan-page-text p{
    color: darkslategray;
}
.plan-page-packages{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:500px) {
    .plan-page-container{
        padding: 10px;
    }
}
@media screen and (max-width: 1230px){
    .plan-page-packages{
        /* display: grid;
        grid-template-columns: 1fr 1fr ; */
        display: flex;
        flex-wrap: wrap;
    }
}