.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings h2 {
  padding-block: 1em;
}

.changeData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.changeData .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-block: 2em;
}

.changeData .inputs input {
  border: 1px solid rgba(0,0,0,0.4);
  width: 40%;
  height: 2.8em;
  margin-bottom: 1em;
  padding: 5px;
  border-radius: 10px;
  margin-inline: 1em;
}

.changeData button {
  border: none;
  background-color: var(--primary-color);
  padding: 1em 1.5em;
  color: aliceblue;
  border-radius: 20px;
  margin-right: 1em;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .changeData .inputs {
    flex-direction: column;
    padding-inline: 2em;
  }

  .changeData .inputs input {
    width: 100%;
    margin-bottom: 1em;
  }

  .changeData button {
    font-size: 0.8em;
  }
}
