.tools {
  height: max-content;
  padding: 4em 2em;
  font-family: var(--primary-font);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  font-size: 2em;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.body div {
  width: 50%;
}

.body .right {
  padding: 0 2em;
}

.body .left img {
  width: 100%;
}

.body .right h2 {
  font-size: 2em;
  width: 70%;
  margin-bottom: 1em;
}

.body .right ul li {
  margin-bottom: 1em;
  list-style-type: square;
}

.body .right .list {
  padding-left: 1em;
  width: 100%;
}

.tools .body:nth-child(3) {
  flex-direction: row-reverse;
  padding-block: 3em;
}

@media screen and (max-width: 700px) {
  .head {
    font-size: 1.5em;
  }

  .body {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .body .right {
    padding: 0;
  }

  .body div {
    width: 100%;
  }

  .body:nth-child(3) {
    flex-direction: column-reverse!important;
  }

  .body .right h2 {
    width: 100%;
    font-size: 1.6em;
  }
}