.slider-container {
  margin: 2rem 0;
  font-family: var(--primary-font);
  height: 70vh;
}

.slider-container .head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .head h2 {
  font-size: 1.7em;
}

.slider-container h2 {
  margin-bottom: 1rem;
}

.slider-item {
  background-color: rgba(17,39,227,.15);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  height: 300px;
  margin: 0 auto;
}

.slider-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 80%;
}

.slider-item img {
  width: 15%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-block: 3em;
}

.profile .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 0;
  padding-inline: 1em;
}

.profile .details > * {
  margin-block: 0.1em;
}

.profile h2 {
  font-size: 1.2em;
}

.profile p {
  color: dimgrey;
}

@media screen and (max-width: 750px) {
  .slider-container .head h2 {
    font-size: 1.3em;
  }

  .slider-item h3 {
    font-size: 1em;
  }

  .profile h2 {
    font-size: 1em;
  }

  .profile p {
    font-size: 0.8em;
  }
}