@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto&family=Sansita&family=Sansita+Swashed&display=swap");
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  margin-top: 30px;
  font-family: var(--primary-font);
  /* position: fixed; */
}

.nav {
  display: flex;
  width: 92%;
  background-color: aliceblue;
  border-radius: 60px;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  padding-block: 2em;
  position: fixed;
}

.nav .nav-logo img {
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.nav-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.nav-list ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list ul li {
  padding-inline: 1em;
  color: rgb(130, 130, 129);
  cursor: pointer;
  transition: all 0.4s ease-out;
  font-size: 0.9em;
}

.nav-list ul .li {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-list ul li:hover {
  color: var(--primary-color);
}

.loginSignUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loginSignUp .button button {
  padding: 1em 2em;
  border-radius: 40px;
  border: none;
  background-color: var(--primary-color);
  color: aliceblue;
  font-size: 1em;
  font-family: var(--primary-font);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loginSignUp .button:nth-child(1) button {
  background: none;
  color: var(--primary-color);
}

.nav-btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav .nav-collapse {
    transition: all 0.4s ease-in-out;
  }

  .nav .nav-collapse[data-visible="false"] {
    transform: translateX(-1000px);
  }

  .nav-collapse {
    position: fixed;
    display: flex;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: aliceblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-collapse div {
    display: flex;
    flex-direction: column;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-list ul li {
    padding-block: 2em;
  }

  .nav-btn {
    display: flex;
    flex-direction: column;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .nav-btn div {
    border: 1px solid #333;
    margin-block: 0.2em;
    width: 90%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  .nav-btn[data-visible="false"] div:nth-child(2) {
    width: 45%;
  }


  .nav-btn[data-visible="true"] div:nth-child(1) {
    transform: rotate(45deg);
    margin-block: -2px;
  }

  .nav-btn[data-visible="true"] div:nth-child(2) {
    transform: rotate(135deg);
    margin-block: 0px;
  }

  .nav-btn[data-visible="true"] div:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    height: 4em;
  }

  .nav .nav-logo img {
    width: 60px;
    height: 30px;
  }

  .nav-btn div {
    width: 80%;
  }
}