.loginNavbar {
  width: 100%;
  padding: 1em;
  position: absolute;
}

.loginNavbar .nav {
  display: flex;
  flex-direction: row;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 3em;
  padding: 0.8em;
}

.loginNavbar .nav-logo h2 {
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

.nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}

.nav-btns button {
  margin-inline: 0.4em;
  padding: 0.5em 1em;
  border-radius: 10px;
  background: none;
  border: 1px solid #e04cb6;
  color: #5dcadb;
}

.no-decoration {
  text-decoration: none;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
}
