.loginNavbar {
  position: fixed;
  width: 100%;
  padding-inline: 1em;
}

.loginNavbar .nav {
  display: flex;
  flex-direction: row;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 3em;
  padding: 1em;
  margin-top: 1em;
}

.loginNavbar .nav-logo h2{
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

/* .nav-btns {
  border: 1px solid red; */
  /* padding: 0.3em; */
/* } */

.nav-btns button {
  border: none;
  margin-inline: 0.5em;
  padding: 0.5em 1em;
  border-radius: 10px;
  background: none;
  border: 1px solid #e04cb6;
  color: #5dcadb;
}

.no-decoration {
  text-decoration: none;
}