.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4em;
  padding-block: 3em;
  font-family: var(--primary-font);
}

.stats div {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--primary-color);
  padding: 0.7em 1.4em;
}

.stats h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}

.stats p {
  color: rgb(81, 80, 80);
}

@media screen and (max-width: 900px) {
  .stats {
    padding-inline: 1em;
    padding-block: 2em;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .stats div {
    margin-inline: 1em;
  }

  .stats h2{
    font-size: 1em;
  }

  .stats p {
    font-size: 0.7em;
  }
}