.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 30vh;
  margin-top: 5em;
  background: rgba(17,39,227,.15);
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.footer > div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer .logo {
  justify-content: center;
  align-items: flex-start;
  padding-block: 2em;
}

.footer .foot_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .foot_nav ul li {
  padding-inline: 1em;
  cursor: pointer;
}

.footer .socials {
  padding-block: 2em;
}

.footer .logo img {
  width: 70px;
  height: auto;
}

@media screen and (max-width: 750px) {
  .footer .foot_nav ul {
    flex-direction: column;
  }

  .footer .foot_nav ul li {
    padding: 0.5em 0;
  }
}