.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f8f9f9;
  padding-block: 3em;
  padding-inline: 2em;
  margin-left: 1em;
  height: max-content;
  width: max-content;
  margin-bottom: 1em;
}

.card h2 {
  margin-block: 1em;
}

.card img {
  width: 170px;
  height: 130px;
}

.card p {
  text-align: center;
}